body, html {
    padding: 0px;
    margin: 0px;

    background-color: #f9f9f9;
    font-family: proxima-nova, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}

.header {
    background-color: rgb(41, 41, 41);
    padding-top: 1px;
    padding-bottom: 1px;
}

.title-holk-plantillas {
     font-size: 20px;
     font-weight: 200;

     /*   line-height: 1.28; */
     color: #9ce751;

     border: thick;
     padding-left: 1%;
     padding-bottom: 0px;
     margin-bottom:-0.2%;
 }

.title-holk-plantillas:hover {
    font-size: 20px;
    font-weight: 200;

    /*   line-height: 1.28; */
    color: #adfc56;

    border: thick;
    padding-left: 1%;
    padding-bottom: 0px;
    margin-bottom:-0.2%;
}

.subtitle-holk-plantillas {
    font-size: 10px;
    font-weight:200;
    /*   line-height: 1.28; */
    color: #dde756;

    border: thick;
    padding-left: 1%;
    padding-top:0px;
    margin-top:-1%;
}

.subtitle-holk-plantillas:hover {
    font-size: 10px;
    font-weight:200;
    /*   line-height: 1.28; */
    color: #f1fb5b;

    border: thick;
    padding-left: 1%;
    padding-top:0px;
    margin-top:-1%;
}

/* Plantillas */

.Plantilla-Div{

    background-color: #212121;
    border:solid;
    border-color: #ffffff;
    padding-left:1%;
    padding-right:1%;
    padding-top:1%;
    padding-bottom:0.50%;
    display: inline-block;
}

.title-plantilla{
    font-size: 20px;
    font-weight: 200;

    /*   line-height: 1.28; */
    color: #48e96b;

}

.download-button{
    font-family: proxima-nova,"Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
    background: #48e96b;
    color: #fafafa;
    font-size:1em;
    padding: 8px 16px;
    margin: 5px;
    box-sizing: border-box;
    border-color: #212121;
    border-radius: 2px;
    text-shadow: 0 1px 3px rgba(0,0,0,0.3);
    text-align: center;
    line-height: 1.28;
    box-shadow: 0;


}

.download-button:hover{
    font-family: proxima-nova,"Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
    background: #46ed63;
    color: #fafafa;
    font-size:1em;
    padding: 8px 16px;
    margin: 5px;
    box-sizing: border-box;
    border-color: #212121;
    border-radius: 2px;
    text-shadow: 0 1px 3px rgba(0,0,0,0.3);
    text-align: center;
    line-height: 1.28;
    box-shadow: 0;


}

